.Link {
    text-decoration: none;
}

.CursosCard {
    width: 100%;
    overflow: hidden;
    border-radius: 1.2em;
    -webkit-border-radius: 1.2em;
    -moz-border-radius: 1.2em;
    -ms-border-radius: 1.2em;
    -o-border-radius: 1.2em;
    background-color: var(--bg-blanco);
    border: 1px solid var(--border-septimo);
    cursor: pointer;
}

.CursosCard h2 {
    font-size: 1.2em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--text-secundario);
    line-height: 1.3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    margin: 5px 15px;
}

