.Inicio {
    width: 100%;
    height: 100vh;
    position: relative;
}

.Inicio_Content {
    width: 100%;
    height: 95vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Inicio_Content_Body {
    width: 30%;
    height: 50vh;
    background-color: var(--bg-blanco);
    box-shadow: var(--btn-shadow-octavo);
    border-radius: 1.5rem;
    padding: 20px;
}

.Inicio_Content h2 {
    font-size: 3em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--text-secundario);
    text-align: center;
}


.Inicio_Content h2 span {
    background: var(--Gradient, linear-gradient(100deg, var(--text-secundario) 37.82%, var(--text-terciario) 87.12%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Footer  p {
    font-size: 1em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-secundario);
    text-align: center;
}